# Maven
target/

# IntelliJ
.idea/
*.iml

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Logs
*.log

# Build artifacts
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# OS
.DS_Store
Thumbs.db

# JVM
hs_err_pid*
replay_pid*

# Optional（不要なら）
HELP.md